#container{
	width: 750px;
	height: auto;
	margin:50px auto;
	font-family: 'SEGOE UI';
}

.head-list{ 
	width: 100%;
	padding: 30px 0;
	background-color: darkgoldenrod;
	text-align: center;
	line-height: 30px;
	color: aliceblue;
	font-size: 30px;
	
}

.main-list{
	width: 100%;
	height: auto;
	padding: 50px 0;
	background-color:#808080;
	text-align: center;
	position: relative;
}

.main-list input{
	width: 50%;
	background-color: antiquewhite;
	border: 1px solid #b8860b;
	padding: 7.5px 15px;
	outline: 0;
	box-shadow: 0 0 0 0;
}

.main-list button{
	width: 10%;
	padding: 7.5px 15px;
	border: 1px solid #b8860b;
	border-left: 0px solid #b8860b;
	outline: 0;
	box-shadow: 0 0 0 0;
	background-color: #fff;
	cursor: pointer;
	transition: 0.2s;
}

.main-list button:hover{
	color: #b8860b;
	transition: 0.2s;
}

.main-list ul{
	margin: 25px 0;
}

.main-list li{
	width: 60%;
	margin: auto;
	display: inline-block;
	padding: 10px 15px;
	position: relative;
	cursor: pointer;
}

.main-list li:nth-last-of-type(even){
	background-color: #fff;
}

.main-list li:nth-last-of-type(odd){
	background-color:#F8F8F8;
}


.main-list li:hover{
	background-color: #E8E8E8;
}

.main-list ul li .cleaner{
	width: 50px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	line-height: 38px;
	text-align: center;
	color: #000;
	cursor: pointer;
	transition: 0.2s;
}

.main-list ul li .cleaner:hover{
	background-color:firebrick;
	color: #fff;
	transition: 0.2s;
}


.check{
	background-color: #9a9a9a!important;
}

.main-list ul li.check:before{
	content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.check-list{
	position: absolute;
	right: 0px;
	bottom: 0;
	padding: 20px;
	background-color: firebrick;
	transition: 0.2s;
	cursor: pointer;
	color: #fff;
}
.check-list:hover{
	background-color: darkgoldenrod;
	transition: 0.2s;
}












